* {
  margin: 0;
}

.chips {
  padding: 5px 10px;
  margin: 10px 0;
  background: bisque;
  color: #666;
  border-radius: 6px;
}

#chips-field {
  position: fixed;
  right: 20px;
  top: 0;
  bottom: 0;
  width: 15%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  padding: 20px;
}